* {
  padding: 0;
  margin: 0;

}

.container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: minmax(200px, auto);
  grid-row-gap: 50px;
  align-items: center;
  justify-content: center;
  padding: 30px;

}

.hero,
.villan {
  display: grid;
  grid-template-columns: 33% 33%;
  align-items: stretch;
  justify-content: space-evenly;
  grid-row-gap: 50px;
  padding: 20px;
}

.score {
  text-align: center;
}


.hero div,
.villan div {
  text-align: center;
  border: 3px solid lightgray;
  border-radius: 5%;
  padding: 10px;
}